@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #ffffff;
  --bg-dark: #1a202c;
  --text-light: #000000;
  --text-dark: #ffffff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-padding-top: 78px;
  scroll-behavior: smooth;
}

* {
  @apply box-border;
}

body {
  background: var(--bg-light);
  color: var(--text-light);
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

body.dark {
  background: var(--bg-dark);
  color: var(--text-dark);
}

@layer base {
  body {
    background: var(--bg-light);
    color: var(--text-light);
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }

  body.dark {
    background: var(--bg-dark);
    color: var(--text-dark);
  }
}

/* 
.container {
  @apply px-2
} */

.PlayfairDisplay {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}